body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e2cf;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff5e6;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}

h1 {
    color: #d789d7;
}

strong {
    color: #5c5c8a;
}
